body {

    background-image: url('../img/reactionBG.jpg');
    background-repeat: repeat;
    cursor: url('../img/cursor.gif'), default;
    overflow: hidden;
}



html,
body {
    height: 100%;
}

#box{
    width: 180px;
    height: 180px;
    position: absolute;
}

/* #myChart {
    width: 300px;
    background-color: black;
} */