{% extends 'layout.html' %}

{% block head %}
        <title>Stimuli</title>
        <style type="text/css">
        body{
            background-color: blanchedalmond;
        }
        #box{
            width: 100px;
            position: absolute;
        }
        </style>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body %}
        <p>The times taken are-</p>
        <p id="timer"></p>
      <div class="container">
         <div id="box" ><span class="spinner-grow text-primary" role="status" style="animation:spinner-grow 1.5s linear infinite; width: 6rem; height: 6rem;"></span></div>
        



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <script type="text/javascript">
        var clickTime; var createdTime;
            function randomsquare() {
                var t = Math.random() * 1000;
                setTimeout(function () {
                    var top = Math.random();
                    top = top * 500;
                    var left = Math.random();
                    left = left * 800;
                    document.getElementById("box").style.top = top + "px";
                    document.getElementById("box").style.left = left + "px";
                    //document.getElementById("box").style.backgroundColor=randomcolor();
                    document.getElementById("box").style.position
                    document.getElementById("box").style.display = "block";
                     createdTime = Date.now();
                }, t) 
            }
                function randomcolor(){
                var arr='0123456789abcdef';
                var a='#';
                for(var i=0;i<6;i++){
                    a+=arr[Math.round(Math.random()*15)];
                }
                return a;
               }
            document.getElementById("box").onclick=function(){
            clickTime=Date.now();
            document.getElementById("box").style.display = "none";
            randomsquare();
            if((clickTime-createdTime)>0){
            document.getElementById("timer").innerHTML = document.getElementById("timer").innerHTML + ((clickTime - createdTime)/1000)+ "  seconds <br/>";}
       }
       </script>
       </div>
  {% endblock %}